
<h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
<ul>
  <li>Web Language
    <ul>
        <li><a href="https://www-zhutaosheng-com.translate.goog/?_x_tr_sl=auto&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp">🇪🇸 </a>
        <a href="https://www-zhutaosheng-com.translate.goog/?_x_tr_sl=auto&_x_tr_tl=fr&_x_tr_hl=en&_x_tr_pto=wapp">🇫🇷 </a>
        <a href="/s/language-more">More🌍</a></li>
    </ul>
  <li><a href="/s/course-notes">Chem Notes📚</a></li>
    <li>Personal/Hobbies
    <ul>
      <li><a href="/s/hobbies-spanish">Spanish 🇪🇸</a></li>
      <li><a href="/s/hobbies-hiking">Hiking🌄</a></li>
      <li><a href="/s/hobbies-more">More🎨</a></li>
    </ul>
    </li>
    <li><a href="https://www.instagram.com/zhutao.s/?utm_source=ig_embed&utm_campaign=loading">Instagram📷</a></li>
    <li><a href="/s/quotes">Quotes🌟</a></li>
    <li><a href="/s/faqs">FAQs💬</a></li>
    <li><a href="/gallery">Gallery🖼️</a></li>
    <li><a href="/404">Nothing🤷‍♂️</a></li>
    <li><a href="/contact">Contact📧</a></li>
    <li><a href="/cv/CV-Zhutao.pdf">CV📄</a></li>
</ul>

<style>
    /* To create a hyperlink in HTML without an underline 
    a {
      text-decoration: none;
      color: blue;
    }*/
    /* Remove bullets from the outer list */
    ul {
      list-style-type: none;
    }
    
    /* Add bullets to the nested list */
    ul ul {
      list-style-type: circle;
    }
    
    /* Indent the nested list */
    ul ul {
      margin-left: 20px;
    }
</style>