
<h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
<ul>
    <li><a href="{{ site.github.url }}/cv/CV-Zhutao.pdf">CV📄</a></li>
    <li><a href="{{ site.github.url }}/blog">Blog📝</a></li>
    <li><a href="{{ site.github.url }}/s/chemistry">Chemistry🧬</a></li>
    <li><a href="{{ site.github.url }}/s/my-ebook">My ebook📖</a></li>
    <li><a href="{{ site.github.url }}/s/course-notes">Course notes📚</a></li>
    <li><a href="{{ site.github.url }}/s/chem-resources">Chem resources🧪</a></li>
    <li>Personal/Hobbies
    <ul>
      <li><a href="{{ site.github.url }}/s/hobbies-puzzles">Puzzles🧩</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-reading">Reading📚</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-games">Games🕹️</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-hiking">Hiking🌄</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-climbing">Climbing🧗‍♂️</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-minimalst">Minimalist🚶‍♂️</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-photography">Photography📸</a></li>
      <li><a href="{{ site.github.url }}/s/hobbies-more">More Hobbies🎨</a></li>
    </ul>
    </li>
    <li>Social media📱
    <ul>
        <li><a href="http://zhutaosheng.com">Website🌐</a></li>
        <li><a href="https://github.com/zhutaosheng">GitHub🐙</a></li>
        <li><a href="https://www.instagram.com/zhtuao.s">Instagram📷</a></li>
        <li><a href="https://www.youtube.com/@ZhutaoGuru">Youtube🎥</a></li>
        <li><a href="https://www.twitch.tv/zhutao_s">Twitch📺</a></li>
        <li><a href="https://discord.com/users/Zhutao#4694">Discord🤖</a></li>
        
    </ul>
    </li>
    <li><a href="{{ site.github.url }}/s/advisors">Advisors🎓</a></li>
    <li><a href="{{ site.github.url }}/s/quotes">Quotes🌟</a></li>
    <li><a href="{{ site.github.url }}/s/faqs">FAQs💬</a></li>
    <li><a href="{{ site.github.url }}/s/motherland">Motherland💬</a></li>
    <li><a href="{{ site.github.url }}/contact">Contact📧</a></li>
</ul>

<style>
    /* To create a hyperlink in HTML without an underline 
    a {
      text-decoration: none;
      color: blue;
    }*/
    /* Remove bullets from the outer list */
    ul {
      list-style-type: none;
    }
    
    /* Add bullets to the nested list */
    ul ul {
      list-style-type: circle;
    }
    
    /* Indent the nested list */
    ul ul {
      margin-left: 20px;
    }
  </style>