
<h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
<ul>
    <li><a href="/blog">Blog📝</a></li>
    <li><a href="/s/chemistry">Chemistry🧬</a></li>
    <li><a href="/s/resources">Resources📖</a></li>
    <li><a href="/s/course-notes">Course notes📚</a></li>
    <li><a href="/s/chem-resources">Chem resources🧪</a></li>
    <li>Personal/Hobbies
    <ul>
      <li><a href="/s/hobbies-puzzles">Puzzles🧩</a></li>
      <li><a href="/s/hobbies-reading">Reading📚</a></li>
      <li><a href="/s/hobbies-hiking">Hiking🌄</a></li>
      <li><a href="/s/hobbies-photography">Photography📸</a></li>
      <li><a href="/s/hobbies-more">More Hobbies🎨</a></li>
    </ul>
    </li>
    <li>Social media📱
    <ul>
        <li><a href="https://github.com/zhutaosheng">GitHub🐙</a></li>
        <li><a href="/s/social-instagram-updates">Instagram📷</a></li>
        <li><a href="https://www.youtube.com/@ZhutaoGuru">Youtube🎥</a></li>
        <li><a href="/s/social-more">More📖</a></li>
    </ul>
    </li>
    <li><a href="/s/advisors">Advisors🎓</a></li>
    <li><a href="/s/quotes">Quotes🌟</a></li>
    <li><a href="/s/faqs">FAQs💬</a></li>
    <li><a href="/s/motherland">Motherland🏯</a></li>
    <li><a href="/contact">Contact📧</a></li>
    <li><a href="/cv/CV-Zhutao.pdf">CV📄</a></li>
</ul>

<style>
    /* To create a hyperlink in HTML without an underline 
    a {
      text-decoration: none;
      color: blue;
    }*/
    /* Remove bullets from the outer list */
    ul {
      list-style-type: none;
    }
    
    /* Add bullets to the nested list */
    ul ul {
      list-style-type: circle;
    }
    
    /* Indent the nested list */
    ul ul {
      margin-left: 20px;
    }
</style>