---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-10">
    {{ content }}
  </div>
  <div class="col-md-2">
    /* below class is about the side bar for blog, will update to the when home style change */
    {% include sidebar-about.html %}

<style>
  /* To create a hyperlink in HTML without an underline 
  a {
    text-decoration: none;
    color: blue;
  }*/
  /* Remove bullets from the outer list */
  ul {
    list-style-type: none;
  }
  
  /* Add bullets to the nested list */
  ul ul {
    list-style-type: circle;
  }
  
  /* Indent the nested list */
  ul ul {
    margin-left: 20px;
  }
</style>

  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates Blogs</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
