---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-10">
    {{ content }}
  </div>
  <div class="col-md-2">
<h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
<ul>
  <li><a href="{{ site.github.url }}/cv/CV-Zhutao.pdf">CV📄</a></li>
  <li><a href="{{ site.github.url }}/blog">Blog📝</a></li>
  <li>Personal/Hobbies
    <ul>
      <li><a href="">Puzzles🧩</a></li>
      <li><a href="">Reading📚</a></li>
      <li><a href="">Hiking🌄</a></li>
      <li><a href="">Climbing🧗‍♂️</a></li>
      <li><a href="">Minimalist🚶‍♂️</a></li>
    </ul>
  </li>
  <li>Social media📱
    <ul>
      <li><a href="http://zhutaosheng.com">Website🌐</a></li>
      <li><a href="https://github.com/zhutaosheng">GitHub🐙</a></li>
      <li><a href="https://www.instagram.com/zhtuao.s">Instagram📷</a></li>
      <li><a href="https://www.youtube.com/@ZhutaoGuru">Youtube🎥</a></li>
      <li><a href="https://www.twitch.tv/zhutao_s">Twitch📺</a></li>
    </ul>
  </li>
  <li><a href="{{ site.github.url }}/people">Advisors🎓</a></li>
  <li><a href="{{ site.github.url }}/contact">Contact📧</a></li>
</ul>


<style>
  /* To create a hyperlink in HTML without an underline */
  a {
    text-decoration: none;
    color: blue;
  }
  /* Remove bullets from the outer list */
  ul {
    list-style-type: none;
  }
  
  /* Add bullets to the nested list */
  ul ul {
    list-style-type: circle;
  }
  
  /* Indent the nested list */
  ul ul {
    margin-left: 20px;
  }
</style>

  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates Blogs</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
